*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

input, label{
    display: block;
   margin: auto;
    border-radius: 5px;
}
label{
    color: green;
    margin: auto;
}
input{
    width: 100%;
}


.submit{
    margin: 10px auto 0 auto ;
    width: 40%;
    background-color: rgb(168, 105, 173);
    border-radius: 5px;
}


form{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 15px;
}